<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>NEED IT GOT IT</title>
</head>
<body>
  
</body>
</html>
    <section id="stores-page">
        <div>STORE:</div>
        <div>
          <%= store.name %>
        </div>
        <br>
        <br>


        <h2>Items</h2>
      
        <% if (user) { %>
          <form id="add-items-form" method="POST" action="/stores/<%= store._id %>/show">
            <label>Store:</label>
            <textarea name="content"></textarea>
            <input type="submit" value="NEED IT">
          </form>
          <% } else { %>
      
      
            <% } %>
      
              <% if (store.items) { %>
                <table>
                  <thead>
                    <tr>
                      <th>NEED IT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let total=0 %>
                      <% store.items.forEach(function(r) { %>
      
                          <tr>
                            <td class="items-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                            <td>
                              <%= r.createdAt.toLocaleDateString() %>
                            </td>
                            <td>
                              <%= r.content %>
                            </td>
                            <td>
                              <% if (user && user._id.equals(r.user)) { %>
                                <form action="/items/<%= r._id %>?_method=DELETE" method="POST">
                                  <button type="submit">GOT IT</button>
                                </form>
                              <% } %>
                            </td>
                    
                
                          </tr>
                          <% }); %>
                            <tr>
                              <td colspan="2"></td>
                              <td><strong>
                                  <%= (total / store.items.length).toFixed(1) %>
                                </strong></td>
                            </tr>
                  </tbody>
                </table>
                <% } else { %>
                  <h5>No Items Yet</h5>
                  <% } %>
</body>
</html>